.main {
  display: flex;
  width: 100%;
  background-color: #fff5ec;
  display: flex;
  height: 1350px;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 200px;
}
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin-top: 150px;
}
.services :nth-child(3) {
  font-size: 23px;
  width: 65%;
  padding-left: 150px;
  color: #707070;
}
.redBox {
  width: 30px;
  height: 150px;
  background-color: #fe043c;
  margin-left: 20px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoTop,
.infoBottom {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.infoLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.infoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -250px;
  height: 650px;
  padding: 0px 100px;
  background-color: #ffedde;
  width: 40%;
}
.infoLogo1 {
  background-color: #ffedde;
  padding: 60px;
  margin-right: 80px;
}

.infoLogo2 {
  padding: 60px;
  background-color: #ffedde;
  margin-left: 80px;
}

.info1 {
  width: 40%;
}

.info2 {
  width: 30%;
}

.arrowRight{
  position: absolute;
  right: 35%;
  display: none;
}

@media only screen and (max-width: 600px) {
  .services {
    flex-direction: column;
    width: 100%;
  }
  .redBox {
    display: none;
  }
  .services :nth-child(3) {
    width: 100%;
    padding: 20px;
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px
  }
  .infoLogo1 {
    padding: 0;
  }
  .infoLogo2 {
    padding: 0;
  }
  .main {
    height: 2240px;
  }
  .infoRight {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
  .arrowRight{
    display: none;

  }
  .infoTop :nth-child(3) {
    display: none;
  }
  .infoLogo1{
    margin-right: 40px;
  }
}
